#articles {
    display: flex;
    gap: 1rem; 
    cursor: pointer;
}



.articles-categories {
    padding: 1.5rem 0 0 5rem;
    position: sticky;
    top: 2rem; 
    width: 24rem;
    height: calc(100vh - 8rem); 
    overflow-y: auto; 
}

.articles-contents {
    padding: 1.5rem 5rem 3rem 0 ;
    padding-left: 1rem;
    width: calc(100% - 20rem); 
}



ol {
    list-style: decimal;
    padding-left: 50px;
}

.articles-categories{
    cursor: pointer;
}

.articles-title h1 {
    font-size: 1.3rem;
    color: var(--font-color);
    opacity: 0.95;
    padding-bottom: 1rem;
    cursor: pointer;
}

.articles-title p{
    padding: 1rem;
    cursor: pointer;
    position: relative;
}

.articles-title p a{
    color: var(--font-color);
    opacity: 75%;
    font-size: 1.1rem;
}

#current-page a{
    color: var(--emergency-color);
    opacity: 1;
}

hr{
    height: 2px;
    background-color: var(--button-color);
    margin-bottom: 1rem;
    width: 15rem;
}


.articles-title p a:hover{
    opacity: 1;
}


.articles-contents h6 {
    font-size: 0.85rem;
    opacity: 1;
    letter-spacing: 0.5px;
    color: var(--emergency-color);
    align-items: center;
}

.articles-contents-heading .date{
    padding-bottom: 1rem;
}

.articles-contents h6 span {
    font-size: 0.75rem;
    font-style: italic;
    opacity: 0.9;
    letter-spacing: 0.5px;
}

.articles-contents .logo img{
    height: 2rem;
    width: 3.5rem;
}

.articles-content-body {
    text-align: justify;
}

.articles-content-body h3{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5px;
    padding-bottom: 1rem;
    color: var(--button-color);
    opacity: 0.99;
}



.articles-content-body p, .articles-content-body ol li{
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: var(--button-color);
    opacity: 0.95;
}


.articles-content-body ol li{
    padding: 0.2rem 0 ;
}

.articles-content-body h4{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    color: var(--button-color);
    font-weight: bolder;
}


/* about page */


.about--description {
    padding: 0 2rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-content {
    width: 58%;
    color: var(--font-color);
}

.about-content h1 {
    opacity: 0.95;
    text-transform: uppercase;
    font-size: 1.65rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
}

.about-content p{
    font-size: 1rem;
    text-align: justify;
    opacity: 0.9;
}

.about--image {
    margin-top: 2rem;
    height:28rem;
    width: 27rem;
    padding: 1rem;
    border: 2px solid var(--emergency-color);
    border-right: none;
}

.about--image img{
    width: 100%;
}


.about--us {
    margin: 2rem 0 0 0;
    background: var(--button-color);
    color: var(--primary-color);
}

.about--us h2 {
    font-size: 1.4rem;
    padding: 4rem 7rem;
    text-align: center;
    letter-spacing: 0.5px;
    opacity: 0.9;
}

.book-content-div p span, .book-content-div p a, .about-content p a{
    color: var(--button-color);
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.book-content-div p span:hover, .book-content-div p a:hover, .about-content p a:hover{
    color: var(--emergency-color);
    transition: 0.5s ease;
} 


.book-content-div h2{
    padding-top: 4rem;
    font-size: 1.65rem; 
    opacity: 0.95; 
    padding-bottom:0.65rem
}

.book-content-div p{
    padding-bottom: 0.5rem;
    opacity: 0.9;
}

.book-image{
    border: 2px solid var(--emergency-color);
    border-left: none;
    padding: 1rem;
}

#booking{
    background: var(--primary-color);
    padding: 4rem 5rem;
}

#support {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem;
}

#support .book-image{
    border: 2px solid var(--emergency-color);
    border-right: none;
}

